@media (min-width:768px) and (max-width: 991px){

}
@media (min-width:768px){
	#logo-outer{
		min-height: 80px;
	}
	.navbar-default{
		.navbar-collapse{	
			text-align: right;		
			.menu-main-menu-container{
				height: 70px;
			}
		}

		.navbar-nav{
			float: none;
			text-align: center;
			display: inline-block;
			font-weight: 700;
			>li{
				display: inline-block;
				>a{
					padding: 15px 10px;
					line-height: 40px;
					text-align: center;	
					&:hover, &:focus{
						color: #fff;
					}	
				}
			}
		}
	}
	#home-slider{		
		.carousel-inner{
			min-height: 450px;
		}
		.item{
				max-height: 450px;
		}
		.carousel-control{

			.glyphicon-chevron-left,.glyphicon-chevron-right,.icon-next,.icon-prev{
				&:before{
					font-size: 36px;
				}
			}
		}
	}
	.detail-content{
		.col-sm-3{
			padding-right: 0;
		}
	}
	.carousel-caption{
		right: 0;
		left: 0;
		bottom: 40px;
		background: rgba(255, 205, 2, 0.39);
		font-size: 32px;
	    padding: 10px 0;
	}
}
@media (min-width:992px){
	
}
@media (max-width:767px){
	.top{
		padding: 0;
		.top-left{
			padding: 10px 15px;
		}
	}
	#logo-outer{
		.navbar-default .navbar-nav > li > a{
			&:hover, &:focus{
				color: #fff;
			}
		}
		&.fixed-header{
			.navbar-default .navbar-nav > li > a{
				padding: 10px 15px;			
			}
			.search-outer{
				padding-left: 15px;
				padding-right: 15px;
			}
			.navbar-toggle{
				margin: 0;
		    border-color: #000;
	    	margin-top: 3px;
		    .icon-bar{
		   		background-color: #000;
		    }
			}
		}
	}
	.quick-link{
		display: none;
	}
	.search-outer{
		padding: 10px 15px;
	}
	.menu-outer{
		padding: 0;
	}
	.navbar-toggle{
	  border-color: #fff;
	  margin-right: 0;
    margin-top: 19px;
	  .icon-bar{
	   	background-color: #fff;
	  }
	}
	.copyright{
		text-align: center;
	}
	footer{
		padding: 20px 10px;
		h3{
			margin: 10px 0;
		}
	}
}
@media (max-width: 359px){

}